@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo{
  background-color: #FF6766;
  justify-content: center;
  align-items: center;
  font-style: italic;
  height: 10%;
  width: 100%;
  display: flex;
}
.logo-text{
  margin-top: 70px;
  font-size: xx-large;
}

.box-1 {
  background-color: #FF6766;
  height: 23.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-2 {
  background-color: #3C3C3C;
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-3 {
  background-color: #66A182;
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 50px;
  font-size: x-large;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid #ff8cbc;
  font-size: 2em;
  transition: all 0.25s linear;
  position: relative;
}

a:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #61a3ff;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

a:hover:before {
  transform: scale(1);
}

.btn-camera{

}

.btn-research{

}

.btn-about{

}
