{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  <title>Image Download</title>
{% endblock title %}

{% block content %}
  <div class="container text-center">
    <h1>Image Download</h1>
  </div>
  {% if user.is_staff %}

    <div class="text-center">
    </div>

  {% else %}
    <p>You have no rights to visit this page</p>
  {% endif %}

  <script type="module" src="{% static 'js/rtc_camera.js' %}"></script>
  <script type="module" src="{% static 'js/fetch_snap.js' %}"></script>
{% endblock content %}
