{% extends 'ai_camera/base.html' %}

{% block title %}
  <title>AI_camera</title>
{% endblock title %}

{% block content %}
  <h1>ai_camera main</h1>
  <p>Welcome to camera page where you are can watch in camera and work with ML</p>
  {% if user.is_staff %}


    <ul>
      {% for camera in camera_list %}
        <li><a href="{% url 'camera' camera.pk %}">{{ camera.name }}</li>
      {% endfor %}
    </ul>


  {% else %}
    <p>You have no rights to visit this page</p>
  {% endif %}
{% endblock content %}
