{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  <title>IP_camera</title>
{% endblock title %}

{% block content %}
  {% if user.is_staff %}
    <div class="container text-center mt-3">
      <div class="row">
        <div class="col align-self-center">
          <h1>Playback</h1>
        </div>
        <div class="col align-self-center">
          <form method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Download latest playbacks from camera: {{camera.name}}</button>
          </form>
        </div>
      </div>
    </div>
    {% if playbacks.all.count > 0 %}

      <div class="container mt-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Playback</th>
              <th scope="col">Recognized</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for playback in playbacks %}
              <tr>
                <th>{{ playback.id }}</th>
                <td><a href="{% url 'playback_view' camera.pk playback.pk %}"><i class="fa-solid fa-video"></i> {{ playback.headline }}</a><br></td>
                <td>{{ playback.recognized }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% else %}
      <div class="text-center m-5">
        <h1>No playbacks yet</h1>
      </div>
    {% endif %}
  {% else %}
    <p>You have no rights to visit this page</p>
  {% endif %}

  <div class="container">
    <a href="{% url 'camera' camera.pk %}" type="button" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i> Go back</a>
  </div>

{% endblock content %}
