{% extends 'main/base.html' %}
{% load static %}

{% block title %}
  <title>IP_camera</title>
{% endblock title %}

{% block content %}
  {% if user.is_staff %}

    <div class="text-center">
      <h1>{{playback.headline}}</h1>
      <h4>{{playback.description}}</h4>
    </div>
    <div class="video-container text-center">
      <video controls="" preload="auto" height="720" width="1280">
        <source src="{{playback.video.url}}" type="video/mp4" />
      </video>
    </div>

  {% else %}
    <p>You have no rights to visit this page</p>
  {% endif %}
{% endblock content %}
