{% extends 'main/base.html' %}
{% load static %}

{% block b_st %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/camera.css' %}">
{% endblock b_st %}

{% block title %}
  <title>WebRTC_Camera</title>
{% endblock title %}


{% block content %}
  {% if user.is_staff %}

    <div class="px-4 pt-2">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="checkboxPredict" checked>
          <label class="form-check-label" for="checkboxPredict">Predict Instantly with Capture</label>
        </div>
        <button id="btn-start"   type="button" class="btn btn-success">Start Streaming</button>
        <button id="btn-stop"    type="button" class="btn btn-danger"  disabled>Stop Streaming</button>
        <button id="btn-capture" type="button" class="btn btn-warning" disabled>Capture Image</button>
        <button id="btn-predict" type="button" class="btn btn-primary" disabled>Predict Image</button>
    </div>


    <!-- Video Element & Canvas -->
    <div class="text-center mx-4 my-3 bg-opacity-10 border border-info rounded">
      <div class="row p-3">
        <div class="col">
          <h3>The Stream</h3>
          <video id="stream" width="640" height="480"></video>
        </div>
        <div class="col">
          <h3>The Capture</h3>
          <canvas id="canvas" width="640" height="480"></canvas>
          <div id="snapshot"></div>
        </div>
      </div>
    </div>


    {% else %}
    <p>You have no rights to visit this page</p>
  {% endif %}

  <a href="{% url 'ai_camera' %}" type="button" class="btn btn-warning ml-4"><i class="fa-solid fa-arrow-left"></i> Go back</a>

  <script type="module" src="{% static 'js/rtc_camera.js' %}"></script>
  <script type="module" src="{% static 'js/fetch_snap.js' %}"></script>
{% endblock content %}

