{% extends 'main/base.html' %}

{% block title %}
<title>About us</title>
{% endblock title %}

{% block content %}
  <div class="container h-100 p-5 bg-light border rounded-5 mt-4">
    <div class="container text-center">
      <h1 class="display-3">Welcome to dFace website</h1>
      <p class="lead">Both Pavel and Dmitry are developers. Check their profiles below</p>
      <p class="lead">This site was created for DonNTU to have very nice score. We hope everything will be fine</p>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <h3>Help email to admin!</h3>
        <p>Do not be afraid</p>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Your email..">
          </div>
          <div class="form-group mt-2">
              <textarea class="form-control" placeholder="Your message.."></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-2"><i class="fa-solid fa-envelope"></i> Send</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
