{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>dFace</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="logo">
      <div class="logo-text">
        <span>dFace</span>
      </div>
    </div>
    <div class="box-1">
      <div class="btn btn-camera">
        <a href="/ai_camera">AI camera</a>
      </div>
    </div>

    <div class="box-2">
      <div class="btn btn-research">
        <a href="/researches">Research</a>
      </div>
    </div>

    <div class="box-3">
      <div class="btn btn-about">
        <a href="{% url 'about' %}">About us</a>
      </div>
    <div/>
  </body>
</html>
